@import url('constants.css');

button {
  font-weight: 800;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  height: 36px;
  cursor: pointer;
  position: relative;
}

button:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  border-top: 4px solid #000;
  border-left: 8px solid rgba(0, 0, 0, 0);
  border-right: 8px solid rgba(0, 0, 0, 0);
  height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button.space-left {
  margin-left: 16px;
}

button.primary {
  background: var(--medium-blue);
  border: none;
}

button:hover.primary {
  background: var(--light-blue);
}

button.secondary {
  background: var(--white);
  border: 2px solid var(--black);
}

button:hover.secondary {
  background: var(--black-hover);
}

button.highlighted {
  height: 40px;
  background: var(--gold);
  border: none;
}

button:hover.highlighted {
  background: var(--light-gold);
}
