@import url('constants.css');

button {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--darker-gray);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  height: 36px;
  cursor: pointer;
}

button.space-left {
  margin-left: 16px;
}

/* button.account {
  margin-bottom:;} */

button.primary {
  background: var(--medium-blue);
  border: none;
}

button:hover.primary {
  background: var(--light-blue);
}

button.secondary {
  background: var(--white);
  border: 2px solid var(--black);
}

button:hover.secondary {
  background: var(--black-hover);
}

button.highlighted {
  height: 40px;
  background: var(--gold);
  border: none;
}

button:hover.highlighted {
  background: var(--light-gold);
}
