@import url('/css/constants.css');

.cards-section {
  padding: 120px 0;
}

.cards-section h1 {
  max-width: 500px;
  margin: 0 0 64px;
}

div#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

div.card {
  margin: 12px 0;
  width: 343px;
  height: 344px;
  background: var(--white);
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
  padding: 24px;
}

div.image-bg {
  width: 64px;
  height: 64px;
  background: var(--lighter-gray);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.card h2 {
  font-size: 32px;
  line-height: 110%;
  margin: 16px 0;
}
