.cards-section {
  padding: 120px 0;
}

.cards-section h1 {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  color: #212429;
  max-width: 500px;
  margin: 0 0 64px 108px;
}

div#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.card {
  margin: 12px;
  width: 343px;
  height: 344px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
  padding: 24px;
}

div.image-bg {
  width: 64px;
  height: 64px;
  background: #f1f3f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.card h2 {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  color: #212429;
  margin: 16px 0;
}

div.card p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #212429;
}
