div.footer {
  width: 100%;
  background: var(--medium-blue);
  padding: 40px 0;
}

div.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--lighter-blue);
}

.footer-top > img {
  width: 174px;
  height: auto;
}

.footer p {
  text-align: right;
  margin-top: 24px;
}

.footer-top a > img {
  margin: 0 6px;
}

.footer p > a {
  text-decoration: underline;
}

@media (max-width: 1365px) {
  div.footer {
    padding: 24px 0 40px;
  }

  div.footer-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: none;
  }

  div.social-icons {
    margin-top: 24px;
    padding-top: 28px;
    border-top: 1px solid var(--lighter-blue);
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer p {
    text-align: center;
    margin-top: 0px;
  }
}
