@import url('constants.css');

div.oportunities {
  color: var(--darker-gray);
  padding-left: 108px;
  background: linear-gradient(
    30deg,
    var(--lighter-gray) 0,
    var(--lighter-gray) 70%,
    var(--white) 30%
  );
}

div.oportunities > h2 {
  font-family: 'Darker Grotesque', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 100%;
  max-width: 600px;
  padding: 120px 0 40px;
  margin: 0;
}

div.oportunities > h2 > span {
  color: var(--medium-blue);
}

div.oportunities p {
  max-width: 500px;
  padding-bottom: 288px;
}

div.together {
  background: linear-gradient(
    -45deg,
    var(--dark-blue) 0,
    var(--dark-blue) 95%,
    var(--lighter-gray) 5%
  );
  color: var(--white);
  padding: 80px 108px;
  font-family: 'Darker Grotesque';
  font-style: normal;
  margin-top: -20px;
}

div.together h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
}

div.together p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 460px;
}

div.together p:not(:last-child) {
  padding: 24px 0;
}

.form-section form {
  position: absolute;
  width: 496px;
  right: 108px;
  top: 120px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
  padding: 40px 24px;
}

.form-section form h3 {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  color: #212429;
  max-width: 400px;
  margin: 0 auto;
}

.form-section form p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #7e8a98;
}

.form-section form ul {
  padding-left: 24px;
}

.form-section form ul li {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #7e8a98;
}

.form-section form ul li a {
  text-decoration: underline;
  color: #19c1ce;
  cursor: pointer;
}

.form-section button {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--darker-gray);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  height: 36px;
  width: 100%;
  height: 40px;
  background: var(--gold);
  border: none;
  cursor: pointer;
}

.together button:hover {
  background: var(--light-gold);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-field label {
  margin-bottom: 8px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.form-field input,
.form-field select {
  height: 40px;
  border: 2px solid #000000;
  box-shadow: inset 6px 6px 0px #eefbfb;
  background: #ffffff;
  padding: 0 12px;
}
