@import url('constants.css');

.header {
  border-bottom: 1px solid var(--light-gray);
}

header.open {
  height: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: var(--white);
  max-width: 1366px;
}

.logo > img {
  width: 174px;
}

nav {
  display: flex;
  height: 100%;
  align-items: center;
}

.mobile-menu.open nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.mobile-menu.open > nav > ul {
  display: block;
  width: 100%;
  margin-top: 24px;
}

nav li {
  margin: 0;
  height: 100%;
}

.mobile-menu > nav > ul > li {
  padding: 16px 0;
  border-bottom: 1px solid var(--light-gray);
  margin: 0 16px;
}

.mobile-menu > nav > ul > li:last-child {
  border-bottom: none;
}

nav a {
  text-decoration: none;
  padding: 0 32px;
  font-weight: 700;
  line-height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.mobile-menu.open.dropdown {
  display: block;
}

.drop-item {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: relative;
}
.submenu {
  display: none;
  align-items: start;
  justify-content: space-between;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  padding: 0;
  margin-top: 10px;
  padding: 0 24px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  width: 799px;
  height: 195px;
  box-shadow: 0px 8px 18px rgba(33, 36, 41, 0.16);
  border-radius: 2px;
}

.dropdown:hover .submenu {
  display: flex;
}

.submenu-column ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.submenu-column li {
  margin: 0;
}

.submenu-column a {
  font-size: 14px;
  line-height: 150%;
  text-align: start;
  padding: 0 0 16px 0;
  white-space: nowrap;
}

.submenu-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--medium-blue);
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 16px;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.hamburger span {
  border-radius: 5px;
  display: none;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  background-color: var(--medium-blue);
}

.mobile-menu {
  display: none;
}

.mobile-menu.open {
  display: block;
}

.button-wrapper {
  background: var(--lighter-gray);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0 28px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.button-wrapper.open {
  position: initial;
}

.submenu-mobile {
  display: none;
}

.submenu-mobile.open {
  display: block;
}

@media (max-width: 1365px) {
  .header-container {
    padding: 0 54px;
    max-width: 1366px;
  }

  nav a {
    padding: 0 16px;
  }
}

@media (max-width: 1023px) {
  .header-container {
    max-width: 100%;
  }

  nav {
    display: none;
  }
  .hamburger {
    display: inline-block;
  }

  .hamburger span {
    display: block;
  }

  .header-container {
    padding: 0 16px;
    height: 64px;
  }

  .logo > img {
    width: 136px;
  }
}
