@import url('/css//constants.css');

.results-section {
  padding: 222px 0 80px 0;
  background: linear-gradient(
    -150deg,
    var(--lighter-gray) 0,
    var(--lighter-gray) 70%,
    var(--white) 30%
  );
}

.results-content {
  display: flex;
  justify-content: space-between;
}

.results-section img {
  width: 600px;
  height: auto;
  -webkit-clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
}

.results-section h2 {
  font-size: 32px;
  line-height: 110%;
  color: var(--black);
  margin: 0;
}

.results-section p {
  font-size: 17px;
  line-height: 140%;
  margin: 24px 0 40px;
}

.results-section ul {
  padding: 0;
}

.results-section li {
  list-style: none;
  position: relative;
  display: flex;
  align-items: start;
  margin: 12px 0;
}

.results-section li img {
  width: 24px;
  height: auto;
  margin-right: 16px;
}

.results-section li span {
  font-size: 16px;
  line-height: 150%;
}

.results-section li span a {
  color: var(--light-blue);
  text-decoration: underline;
}

.column:last-child {
  max-width: 448px;
}

@media (max-width: 1365px) {
  .results-section {
    padding-top: 40px;
  }

  .results-content {
    flex-direction: column-reverse;
  }

  .results-section h2 {
    font-size: 24px;
  }

  .results-section p {
    font-size: 14px;
  }

  .results-section img {
    width: 100%;
    margin-top: 25px;
  }
}
