@import url('constants.css');

div.tools-section {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.tools-section > div:first-child {
  max-width: 550px;
  margin-right: 90px;
}

.tools-section h2 {
  font-size: 40px;
  line-height: 100%;
}

.tools-description {
  margin: 24px 0 40px;
  font-size: 20px;
  line-height: 140%;
}

div#tools {
  display: flex;
  flex-wrap: wrap;
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 0px -5px;
}

.tool img {
  width: 40px;
  height: auto;
}

.tool h2 {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--black);
}

.tool p {
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
  padding: 8px 0 24px;
}

a.mobile-button {
  display: none;
}

@media (max-width: 1365px) {
  div.tools-section {
    flex-direction: column;
    padding: 40px 0 80px;
  }

  .tools-section > div:first-child {
    max-width: 550px;
    margin-right: 0px;
  }

  .tools-section .desktop-button {
    display: none;
  }

  #tools {
    margin-bottom: 40px;
    justify-content: center;
    max-width: 360px;
  }

  .tools-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a.mobile-button {
    display: block;
  }
}
