div.tools-section {
  padding: 120px 0;
  display: flex;
  justify-content: center;
}

.tools-section > div:first-child {
  max-width: 450px;
  margin-right: 90px;
}

.tools-section h2 {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  color: #212429;
}

.tools-section p {
  margin: 24px 0 40px;
}

div#tools {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 103px;
  margin: 12px 5px;
}

.tool img {
  width: 40px;
  height: auto;
}

.tool h2 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
