<head>
  <link rel="stylesheet" href="/css/account-section.css" />
</head>

<div class="account-section">
  <div class="image">
    <div>
      <h1>Por que mais de 25.000 empresas escolheram o RD Station?</h1>
      <p>
        Combinamos nossos produtos de Marketing e Vendas com pessoas que se
        importam com seus resultados e um ecossistema que apoia o seu negócio do
        planejamento à prática.
      </p>
      <a href="https://app.rdstation.com.br/signup" target="_blank">
        <button class="highlighted account">criar conta gratuita</button>
      </a>
    </div>
  </div>
</div>
