<head>
  <link rel="stylesheet" href="css/form-section.css" />
</head>

<div class="form-section">
  <div class="form-content">
    <div class="container form-wrapper">
      <div class="oportunities">
        <h2 class="title">
          Gere mais
          <span class="typing-effect">
            <span class="words-wrapper">
              <span class="word">oportunidades</span>
              <span class="word">clientes</span>
              <span class="word">leads</span>
              <span class="word">vendas</span>
            </span>
          </span>
          <br />
          para seu negócio
        </h2>
        <p>
          O RD Station Marketing é um software para sua empresa fazer campanhas
          melhores, nutrir Leads, gerar oportunidades comerciais qualificadas e
          alcançar mais resultados.
        </p>
      </div>
      <form>
        <h3>Comece seus 10 dias de teste grátis do RD Station Marketing!</h3>
        <p>Não precisa cadastrar cartão de crédito. 😉</p>

        <div class="form-field">
          <label>Diga, qual seu nome?</label>
          <input type="text" name="name" placeholder="Insira seu nome" />
        </div>

        <div class="form-field">
          <label>Seu email de trabalho</label>
          <input type="text" name="name" placeholder="Insira seu e-mail" />
        </div>

        <div class="form-field">
          <label>Seu telefone</label>
          <input
            type="text"
            name="name"
            placeholder="Insira seu número de telefone com DDD"
          />
        </div>

        <div class="form-field">
          <label>Seu cargo de ocupação</label>
          <select>
            <option>Selecione seu cargo</option>
          </select>
        </div>

        <div class="form-field">
          <label>Crie uma senha</label>
          <input type="password" name="name" placeholder="Insira uma senha" />
        </div>

        <div class="form-field">
          <label>Confirme sua senha</label>
          <input type="password" name="name" placeholder="Repita sua senha" />
        </div>

        <div class="form-field">
          <label>Qual o site da sua empresa?</label>
          <div class="radio-button">
            <input
              class
              type="radio"
              id="html"
              name="fav_language"
              value="HTML"
            />
            <label for="html">Meu site é</label><br />
          </div>
          <input
            type="text"
            name="name"
            placeholder="Insira o endereço do seu site"
          />
          <div class="radio-button">
            <input type="radio" id="html" name="fav_language" value="HTML" />
            <label for="html">Ainda não tenho site</label><br />
          </div>
        </div>

        <ul>
          <li>
            Ao criar minha conta estou de acordo com os
            <a
              href="https://legal.rdstation.com/pt-BR/rdstation-services-agreement/"
              >termos de uso</a
            >
            do software e
            <a
              href="https://legal.rdstation.com/pt-BR/rdstation-services-agreement/"
              >política de privacidade</a
            >.
          </li>
          <li>
            Ao preencher o formulário, concordo em receber comunicações de
            acordo com meus interesses.
          </li>
          <li>
            *Você pode alterar suas permissões de comunicação a qualquer tempo.
          </li>
        </ul>

        <button class="highlighted">criar minha conta</button>
      </form>
    </div>
    <div class="together">
      <div class="container">
        <h3>Estaremos juntos desde o primeiro passo!</h3>
        <p>
          Se você ainda não sabe como extrair o máximo das ações digitais, não
          tem problema. O <strong>RD Station Marketing</strong> é mais que uma
          ferramenta, nos importamos com os seus resultados.
        </p>
        <p>
          <strong>Estaremos com você do planejamento até a prática!</strong>
        </p>
      </div>
    </div>
  </div>
</div>
