<head>
  <link rel="stylesheet" href="css/header.css" />
</head>

<div class="header">
  <div class="header-container">
    <div class="logo">
      <img src="/assets/logo-rd-station-default.svg" alt="Logo da empresa" />
    </div>

    <nav>
      <ul>
        <li><a href="#">Menu 1</a></li>
        <li class="dropdown">
          <a href="#">Menu 2 &#9660;</a>
          <ul class="submenu">
            <div class="submenu-column">
              <h3 class="submenu-title">Metodologia</h3>
              <ul>
                <li><a href="#">Tudo sobre Inbound Marketing</a></li>
              </ul>
            </div>
            <div class="submenu-column">
              <h3 class="submenu-title">Cursos</h3>
              <ul>
                <li><a href="#">RD University</a></li>
                <li><a href="#">Introdução ao Inbound Marketing</a></li>
                <li><a href="#">RD Station Marketing Basic</a></li>
              </ul>
            </div>
            <div class="submenu-column">
              <h3 class="submenu-title">Ferramentas</h3>
              <ul>
                <li><a href="#">Avalie seu funil de vendas</a></li>
                <li><a href="#">Compare suas métricas de Email Marketing</a></li>
                <li><a href="#">Calcule o ROI do RD Station Marketing</a></li>
              </ul>
            </div>
          </ul>
        </li>      
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Menu 4</a></li>
        <li><a href="#">Menu 5</a></li>
      </ul>
      <button class="secondary space-left">Button</button>
      <button class="primary space-left"><span>Button</span> <img src="/assets/right-arrow.png"></img></button>
    </nav>

    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
</div>

<div class="mobile-menu">
  <nav>
      <ul>
        <li><a href="#">Menu 1</a></li>
        <li class="dropdown">
          <div class="drop-item">
            <a href="#">Menu 2 </a>
            <span>&#9660;</span>
          </div>
           <ul class="submenu-mobile">
            <div class="submenu-column">
              <h3 class="submenu-title">Metodologia</h3>
              <ul>
                <li><a href="#">Tudo sobre Inbound Marketing</a></li>
              </ul>
            </div>
            <div class="submenu-column">
              <h3 class="submenu-title">Cursos</h3>
              <ul>
                <li><a href="#">RD University</a></li>
                <li><a href="#">Introdução ao Inbound Marketing</a></li>
                <li><a href="#">RD Station Marketing Basic</a></li>
              </ul>
            </div>
            <div class="submenu-column">
              <h3 class="submenu-title">Ferramentas</h3>
              <ul>
                <li><a href="#">Avalie seu funil de vendas</a></li>
                <li><a href="#">Compare suas métricas de Email Marketing</a></li>
                <li><a href="#">Calcule o ROI do RD Station Marketing</a></li>
              </ul>
            </div>
          </ul>
        </li>      
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Menu 4</a></li>
        <li><a href="#">Menu 5</a></li>
      </ul>
      <div class="button-wrapper">
        <button class="secondary">Button</button>
        <button class="primary"><span>Button</span> <img src="/assets/right-arrow.png"></img></button>
      </div>
    </nav>
</div>

