<head>
  <link rel="stylesheet" href="/css/tools-section.css" />
</head>

<div class="container">
  <div class="tools-section">
    <div>
      <h2>Torne sua operação de Marketing ainda mais poderosa</h2>
      <p>
        O RD Station Marketing se conecta as principais ferramentas nacionais e
        internacionais
      </p>
      <a href="https://app.rdstation.com.br/signup" target="_blank">
        <button class="primary">criar conta gratuita</button>
      </a>
    </div>
    <div id="tools"></div>
  </div>
</div>
