<head>
  <link rel="stylesheet" href="/css/video-section.css" />
</head>

<div class="video-section">
  <div class="container">
    <div class="video-content">
      <div class="video-text">
        <h2>Entenda melhor como o RD Station Marketing funciona na prática</h2>
        <button class="secondary"><span>assista a demonstração</span> <img src="/assets/play-circle.svg"></img></button>
      </div>
      <div class="thumbnail">
        <div class="play-button">
          <img src="/assets/play.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>

